@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&family=Noto+Serif:wght@500&family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
Colores verdes 
#618264
#79AC78
#B0D9B1
#D0E7D2

*/
/* importo tipografia de google font ej: Inter Tight */
/* font-family: 'Inter Tight', sans-serif; */
/* importo tipografia de google font ej: Rubik */
/* font-family: 'Rubik', sans-serif; */
/* importo tipografia de google font ej: Noto Serif */
/* font-family: 'Noto Serif', serif; */
/* 1 rem = 16px */
html {
  font-family: "Noto Serif", serif;
}

/*------------- Header ---------------*/
header .menu-desktop {
  padding: 0.6rem;
  background-image: linear-gradient(to bottom, rgb(219, 215, 215), rgb(248, 245, 245));
  /* visualización horizontalmente los items */
  display: flex;
  /* alinea horizontalmente los items */
  justify-content: space-around;
  /*alinea vertical los items */
  align-items: center;
}
header .menu-desktop a {
  color: green;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9rem;
}
header .menu-desktop a .imagen-header {
  background-image: url(../img/HEADER.jpg);
  width: 250px;
  height: 55px;
}
header .menu-desktop a .imagen-header:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
header .navbar {
  display: none;
}

/* -------------- Footer --------------*/
footer {
  background-image: linear-gradient(to bottom, rgb(219, 215, 215), rgb(248, 245, 245));
}
footer .findus {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: normal;
  padding: 1rem;
  height: 300px;
}
footer .findus .encuentranos {
  padding-left: 5%;
  width: 450px;
}
footer .findus .encuentranos .tituloFooter {
  font-size: 25px;
  color: rgb(95, 92, 92);
}
footer .findus .encuentranos .v-line {
  border-bottom: thick solid green;
  width: 100px;
  padding-left: 3%;
}
footer .findus .encuentranos .contactos {
  padding-top: 5%;
}
footer .findus .encuentranos .contactos p {
  color: rgb(95, 92, 92);
  font-size: 18px;
  text-align: left;
}
footer .findus .encuentranos .contactos p img {
  width: 35px;
}
footer .findus .logoFooter {
  padding-left: 8%;
}
footer .findus .logoFooter img {
  width: 300px;
  padding-top: 80px;
}
footer .findus .siguenos {
  padding-left: 13%;
}
footer .findus .siguenos .tituloFooter {
  font-size: 25px;
  color: rgb(95, 92, 92);
}
footer .findus .siguenos .v-line {
  border-bottom: thick solid green;
  width: 100px;
  padding-left: 3%;
}
footer .findus .siguenos .socialmedia {
  padding-top: 5%;
}
footer .findus .siguenos .socialmedia a {
  color: rgb(95, 92, 92);
  text-decoration: none;
}
footer .findus .siguenos .socialmedia a p {
  color: rgb(95, 92, 92);
  font-size: 20px;
  text-align: left;
}
footer .findus .siguenos .socialmedia a p img {
  padding-right: 5%;
  width: 50px;
}
footer .copyright {
  text-align: center;
}
footer .copyright .separador-footer {
  margin-top: 10px;
  margin-bottom: 15px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #3b3b3b, transparent);
}
footer .copyright p {
  color: rgb(95, 92, 92);
  font-size: 20px;
}

.grid-banner-contenedor {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 400px;
}

.grid-texto {
  background-color: rgb(5, 170, 5);
  border-radius: 5px 0px 0px 5px;
}
.grid-texto .texto-superior {
  color: white;
  font-size: 1.4rem;
  font-family: Poppins, sans-serif;
  position: relative;
  bottom: -255px;
  right: -20px;
  text-shadow: 1px 1px 2px rgb(78, 78, 78);
}
.grid-texto .texto-inferior {
  color: white;
  font-size: 2.1rem;
  font-weight: bolder;
  font-family: Poppins, sans-serif;
  position: relative;
  bottom: -235px;
  right: -20px;
  text-shadow: 1px 1px 2px rgb(78, 78, 78);
}

.grid-imagen img {
  width: 100%;
  height: 100%;
  border-radius: 0px 5px 5px 0px;
}

/*-Separador-*/
.separador {
  margin-top: 15px;
  margin-bottom: 30px;
  border: 0;
  height: 30px;
  background-image: linear-gradient(to right, transparent, #3b3b3b, transparent);
}

/*-Bloque Quienes Somos-*/
.quienes-somos {
  height: 220px;
  margin: 1%;
  margin-bottom: 2%;
  text-align: center;
}
.quienes-somos .triangle {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);
  position: relative;
  background: #e6e3e3;
  height: 35vh;
}
.quienes-somos .triangle::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 60px 0 60px;
  border-color: #e6e3e3 transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}
.quienes-somos .triangle .titulo-quienes {
  padding-top: 2%;
  text-decoration: overline underline;
  text-decoration-color: #239423;
  text-decoration-thickness: 4px;
  text-underline-offset: 8px;
}
.quienes-somos .triangle .titulo-quienes a {
  text-decoration: none;
  color: #4d4a4a;
  font-size: 45px;
  font-weight: bolder;
}
.quienes-somos .triangle .titulo-quienes:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.quienes-somos .triangle .texto-quienes {
  padding-top: 1%;
  font-size: 25px;
  font-family: "Raleway", serif;
  text-align: center;
  margin: 2%;
}

.servicios {
  padding-top: 13%;
  padding-bottom: 5%;
}
.servicios .blog-card {
  display: flex;
  margin: 1rem auto;
  box-shadow: 0 3px 70px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  height: 250px;
  max-width: 1700px;
}
.servicios .blog-card a {
  color: inherit;
}
.servicios .blog-card a:hover {
  color: green;
}
.servicios .blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.servicios .blog-card .meta {
  position: relative;
  z-index: 0;
  flex-basis: 40%;
  height: auto;
}
.servicios .blog-card .meta .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.servicios .blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
  flex-basis: 70%;
}
.servicios .blog-card .description:before {
  transform: skewX(-3deg);
  content: "";
  background: #fff;
  width: 30px;
  position: absolute;
  left: -10px;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.servicios .blog-card .description h2, .servicios .blog-card .description h3 {
  font-family: Poppins, sans-serif;
}
.servicios .blog-card .description h2 {
  line-height: 1;
  margin: 0;
  font-size: 3rem;
}
.servicios .blog-card .description .v-line {
  border-bottom: thick solid green;
  width: 100px;
  padding-left: 3%;
  padding-top: 1%;
}
.servicios .blog-card .description .texto-perfo {
  font-size: 20px;
  position: relative;
  margin: 1rem 0 0;
}
.servicios .blog-card .description .read-more {
  text-align: right;
  font-size: 23px;
}
.servicios .blog-card .description .read-more a {
  color: green;
  display: inline-block;
  position: relative;
}
.servicios .blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.servicios .blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.servicios .blog-card.alt {
  flex-direction: row-reverse;
}
.servicios .blog-card.alt .description .read-more {
  font-size: 23px;
}
.servicios .blog-card.alt .description p {
  font-size: 22px;
  position: relative;
  margin: 1rem 0 0;
}

.donde-estamos-contenedor {
  display: flex;
  justify-content: center;
  padding: 5%;
  margin-top: 40px;
}
.donde-estamos-contenedor .divisor {
  border-left: grey solid 3px;
  padding-left: 5%;
  margin-left: 5%;
}
.donde-estamos-contenedor .divisor .donde-estamos {
  margin: 3%;
  padding-left: 5%;
  padding-bottom: 5%;
  font-size: 130%;
  color: #393b39;
}
.donde-estamos-contenedor .divisor .donde-estamos h1 {
  margin-bottom: 8%;
  margin-top: 4%;
}

.titulos-principales h1 {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  color: rgb(30, 107, 30);
}
.titulos-principales .separador {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  height: 10px;
  background-image: linear-gradient(to right, transparent, #3d3c3c, transparent);
}

.grid-nosotros-contenedor {
  display: grid;
  align-content: space-evenly;
  /* definir áreas */
  grid-template-areas: "foto1 texto1 texto1" "foto1 foto2 foto2" "texto2 foto3 texto3";
  /* ancho de cada columna */
  grid-template-columns: 30% 33% 30%;
  /* alto de cada fila */
  grid-template-rows: 300px 250px 320px;
  /* acomodar grilla */
  justify-content: center;
  /* espacios entre filas y columnas */
  row-gap: 6%;
  column-gap: 2%;
  padding-top: 4%;
  padding-bottom: 10%;
}
.grid-nosotros-contenedor img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}
.grid-nosotros-contenedor p {
  text-align: justify;
  margin: 0 25px;
  color: #6c6d6e;
  font-size: 20px;
}
.grid-nosotros-contenedor .grid-imagen1 {
  grid-area: foto1;
  /*Anulo imagen que visualiza en el query*/
}
.grid-nosotros-contenedor .grid-imagen1 .imagen-desktop {
  display: contents;
}
.grid-nosotros-contenedor .grid-imagen1 .imagen-queries {
  display: none;
}
.grid-nosotros-contenedor .grid-texto1 {
  grid-area: texto1;
}
.grid-nosotros-contenedor .grid-texto1 .titulo-quienes-somos {
  color: green;
  font-weight: bolder;
  font-size: 25px;
  padding-bottom: 1%;
}
.grid-nosotros-contenedor .grid-imagen2 {
  grid-area: foto2;
}
.grid-nosotros-contenedor .grid-texto2 {
  grid-area: texto2;
  padding-top: 10%;
}
.grid-nosotros-contenedor .grid-texto2 .titulo-nuestra-mision {
  color: green;
  font-weight: bolder;
  font-size: 25px;
  padding-bottom: 1%;
}
.grid-nosotros-contenedor .grid-imagen3 {
  grid-area: foto3;
}
.grid-nosotros-contenedor .grid-texto3 {
  grid-area: texto3;
  padding-top: 10%;
}
.grid-nosotros-contenedor .grid-texto3 .titulo-nuestra-vision {
  color: green;
  font-weight: bolder;
  font-size: 25px;
  padding-bottom: 1%;
}

.titulos-principales h1 {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  color: rgb(30, 107, 30);
}
.titulos-principales .separador {
  margin-top: 5px;
  margin-bottom: 10px;
  border: 0;
  height: 10px;
  background-image: linear-gradient(to right, transparent, #3d3c3c, transparent);
}

.grid-servicios-contenedor {
  display: grid;
  align-content: space-evenly;
  /* definir áreas */
  grid-template-areas: "img1 parrafo1 parrafo1" "parrafo2 parrafo2 img2" "img3 parrafo3 parrafo3";
  /* ancho de cada columna */
  grid-template-columns: 35% 25% 35%;
  /* alto de cada fila */
  grid-template-rows: 350px 330px 330px;
  /* acomodar a los hijos */
  /* acomodar grilla */
  justify-content: center;
  /* espacios entre filas y columnas */
  row-gap: 5%;
  column-gap: 2%;
  padding-top: 3%;
  padding-bottom: 8%;
}
.grid-servicios-contenedor img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}
.grid-servicios-contenedor .grid-servicios-img1 {
  grid-area: img1;
  padding-top: 20px;
}
.grid-servicios-contenedor .grid-servicios-img1 .img-perfo-desktop {
  display: inline;
}
.grid-servicios-contenedor .grid-servicios-img1 .img-perfo-queries {
  display: none;
}
.grid-servicios-contenedor .grid-texto-perfo {
  grid-area: parrafo1;
}
.grid-servicios-contenedor .grid-texto-perfo .titulo-servicio-perforaciones {
  color: green;
  font-weight: bolder;
  font-size: 25px;
}
.grid-servicios-contenedor .grid-texto-perfo .texto-servicio-perforaciones {
  text-align: justify;
  color: #6c6d6e;
  font-size: 18px;
}
.grid-servicios-contenedor .grid-servicios-img2 {
  grid-area: img2;
}
.grid-servicios-contenedor .grid-texto-movimiento {
  grid-area: parrafo2;
}
.grid-servicios-contenedor .grid-texto-movimiento .titulo-servicio-movimiento {
  color: green;
  font-weight: bolder;
  font-size: 25px;
  margin: 0 25px;
}
.grid-servicios-contenedor .grid-texto-movimiento .texto-servicio-movimiento {
  text-align: justify;
  color: #6c6d6e;
  margin: 0 25px;
  font-size: 18px;
}
.grid-servicios-contenedor .grid-servicios-img3 {
  grid-area: img3;
}
.grid-servicios-contenedor .grid-texto-equipamiento {
  grid-area: parrafo3;
}
.grid-servicios-contenedor .grid-texto-equipamiento .titulo-servicio-equipamiento {
  color: green;
  font-weight: bolder;
  font-size: 25px;
}
.grid-servicios-contenedor .grid-texto-equipamiento .texto-servicio-equipamiento {
  text-align: justify;
  color: #6c6d6e;
  font-size: 18px;
}

.titulos-principales h1 {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  color: rgb(30, 107, 30);
}
.titulos-principales .separador {
  margin-top: 5px;
  margin-bottom: 20px;
  border: 0;
  height: 10px;
  background-image: linear-gradient(to right, transparent, #3d3c3c, transparent);
}

.rse-contenedor {
  display: flex;
  flex-wrap: wrap;
  height: 1170px;
  justify-content: center;
}
.rse-contenedor .imagen-rse {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  position: absolute;
}
.rse-contenedor .rse-texto-contenedor {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgba(235, 235, 240, 0.801);
  width: 95%;
  height: 680px;
  padding: 10px;
  margin: 10px;
  z-index: 1;
  position: absolute;
  top: 64%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}
.rse-contenedor .rse-texto-contenedor .texto-titulo-rse {
  font-size: 30px;
  color: green;
  font-weight: bolder;
}
.rse-contenedor .rse-texto-contenedor .texto-rse {
  font-size: 18px;
  text-align: justify;
}

.titulos-principales {
  text-align: center;
}
.titulos-principales h1 {
  display: flex;
  justify-content: center;
  padding-top: 85px;
  color: rgb(30, 107, 30);
}
.titulos-principales .texto-galeria {
  font-size: 20px;
}
.titulos-principales .separador {
  margin-top: 10px;
  border: 0;
  height: 10px;
  background-image: linear-gradient(to right, transparent, #3d3c3c, transparent);
}

.contenedor-carousel {
  max-width: 1044px;
  margin: 0 auto;
  padding: 34px 20px;
}
.contenedor-carousel .carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}
.contenedor-carousel .carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.contenedor-carousel .carousel > input:nth-of-type(12):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -1100%;
}
.contenedor-carousel .carousel > input:nth-of-type(11):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -1000%;
}
.contenedor-carousel .carousel > input:nth-of-type(10):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -900%;
}
.contenedor-carousel .carousel > input:nth-of-type(9):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -800%;
}
.contenedor-carousel .carousel > input:nth-of-type(8):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -700%;
}
.contenedor-carousel .carousel > input:nth-of-type(7):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -600%;
}
.contenedor-carousel .carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -500%;
}
.contenedor-carousel .carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -400%;
}
.contenedor-carousel .carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -300%;
}
.contenedor-carousel .carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -200%;
}
.contenedor-carousel .carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -100%;
}
.contenedor-carousel .carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: 0%;
}
.contenedor-carousel .carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.contenedor-carousel .carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.contenedor-carousel .carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.contenedor-carousel .carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.contenedor-carousel .carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.contenedor-carousel .carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.contenedor-carousel .carousel > input:nth-of-type(7):checked ~ .carousel__thumbnails li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.contenedor-carousel .carousel > input:nth-of-type(8):checked ~ .carousel__thumbnails li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.contenedor-carousel .carousel > input:nth-of-type(9):checked ~ .carousel__thumbnails li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.contenedor-carousel .carousel > input:nth-of-type(10):checked ~ .carousel__thumbnails li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.contenedor-carousel .carousel > input:nth-of-type(11):checked ~ .carousel__thumbnails li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.contenedor-carousel .carousel > input:nth-of-type(12):checked ~ .carousel__thumbnails li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.contenedor-carousel .carousel .carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}
.contenedor-carousel .carousel .carousel__slides .carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  box-sizing: border-box;
  white-space: normal;
}
.contenedor-carousel .carousel .carousel__slides .carousel__slide figure {
  display: flex;
  margin: 0;
}
.contenedor-carousel .carousel .carousel__slides .carousel__slide .galeria {
  position: relative;
  width: 100%;
}
.contenedor-carousel .carousel .carousel__slides .carousel__slide .galeria:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666667%;
}
.contenedor-carousel .carousel .carousel__slides .carousel__slide .galeria > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.contenedor-carousel .carousel .carousel__slides .carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}
.contenedor-carousel .carousel .carousel__slides .carousel__slide figcaption {
  align-self: flex-end;
  padding: 20px 20px 0 20px;
  flex: 0 0 auto;
  width: 25%;
  min-width: 150px;
}
.contenedor-carousel .carousel .carousel__slides .carousel__slide figcaption .credit {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: block;
}
.contenedor-carousel .carousel .carousel__slides .carousel__slide figcaption .credit img {
  width: 100%;
}
.contenedor-carousel .carousel .carousel__slides .carousel__slide figcaption.scrollable {
  overflow-y: scroll;
}
.contenedor-carousel .carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 20px -10px;
}
.contenedor-carousel .carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc(16.6666666667% - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}
.contenedor-carousel .carousel__thumbnails label {
  display: block;
  position: relative;
}
.contenedor-carousel .carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.contenedor-carousel .carousel__thumbnails label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.contenedor-carousel .carousel__thumbnails label:hover, .contenedor-carousel .carousel__thumbnails label:focus {
  cursor: pointer;
}
.contenedor-carousel .carousel__thumbnails label:hover img, .contenedor-carousel .carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.contenedor-carousel .carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titulos-principales {
  text-align: center;
}
.titulos-principales h1 {
  display: flex;
  justify-content: center;
  color: rgb(30, 107, 30);
}
.titulos-principales .texto-trabaja {
  font-size: 28px;
}
.titulos-principales .separador {
  margin-top: 5px;
  border: 0;
  height: 10px;
  background-image: linear-gradient(to right, transparent, #3d3c3c, transparent);
}

.trabaja-contenedor {
  position: relative;
  display: flex;
  padding-left: 0.5%;
  padding-right: 0.5%;
  margin-top: 1.3%;
  margin-bottom: 3%;
}
.trabaja-contenedor .imagen-contenedor {
  display: flex;
  width: 50%;
}
.trabaja-contenedor .imagen-contenedor .imagen-trabaja {
  background-image: url(../img/trabajaconnosotros3.jpg);
  width: 100%;
  height: 660px;
  border-radius: 10px;
  background-position: center;
}
.trabaja-contenedor .separador {
  display: none;
}
.trabaja-contenedor .form-contenedor {
  background: rgba(57, 179, 41, 0.801);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  height: 630px;
  position: absolute;
  left: 45%;
  top: 3%;
  width: 53%;
  text-align: justify;
  justify-content: center;
  align-content: center;
}
.trabaja-contenedor .form-contenedor .pregunta-formm .completa-h2 {
  color: aqua;
}
.trabaja-contenedor .form-contenedor .pregunta-formm h3 {
  color: darkslategrey;
}
.trabaja-contenedor .form-contenedor .trabaja-form li {
  list-style-type: none;
}
.trabaja-contenedor .form-contenedor .trabaja-form li .mb-3 {
  width: 80%;
}

/* Celulares menos de 500px */
@media only screen and (max-width: 480px) {
  /*--------header Query--------*/
  header .menu-desktop {
    display: none;
  }
  header .navbar {
    display: block;
    background-image: linear-gradient(to bottom, rgb(219, 215, 215), rgb(248, 245, 245));
  }
  header .navbar .imagen-header {
    background-image: url(../img/HEADER.jpg);
    width: 250px;
    height: 55px;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  /*-------footer Query-------*/
  footer .findus {
    flex-wrap: nowrap;
    height: 180px;
    padding: 0;
  }
  footer .findus .encuentranos {
    padding-left: 2%;
    width: 400px;
  }
  footer .findus .encuentranos .tituloFooter {
    display: none;
  }
  footer .findus .encuentranos .v-line {
    display: none;
  }
  footer .findus .encuentranos .contactos p {
    color: rgb(95, 92, 92);
    font-size: 13px;
    text-align: left;
  }
  footer .findus .encuentranos .contactos p img {
    width: 28px;
  }
  footer .findus .logoFooter {
    display: none;
  }
  footer .findus .siguenos {
    display: none;
  }
  footer .copyright p {
    font-size: 13px;
  }
  /*--------Pagina Index Query---------*/
  .grid-banner-contenedor {
    display: block;
  }
  .grid-texto {
    display: none;
  }
  /*-Seccion Servicios Index-*/
  .separador {
    height: 20px;
  }
  .quienes-somos .triangle {
    height: 45vh;
  }
  .quienes-somos .triangle::before {
    transform: translateX(-50%) translateY(70%);
  }
  .quienes-somos .triangle .titulo-quienes a {
    font-size: 30px;
  }
  .quienes-somos .triangle .texto-quienes {
    font-size: 17px;
    padding: 2%;
  }
  .servicios {
    margin: 1%;
    padding-top: 18%;
  }
  .servicios .blog-card {
    height: 180px;
  }
  .servicios .blog-card .description h2 {
    font-size: 2rem;
  }
  .servicios .blog-card .description .v-line {
    padding-top: 4%;
  }
  .servicios .blog-card .description .texto-perfo {
    display: none;
  }
  .servicios .blog-card .description .read-more {
    padding-top: 5%;
  }
  .servicios .blog-card.alt .description .v-line {
    width: 75px;
    padding-top: 4%;
  }
  .servicios .blog-card.alt .description .texto-ms {
    display: none;
  }
  /*-Sección Somos Eco-*/
  .somos-eco img {
    width: 230px;
    height: 120px;
    margin-bottom: 2%;
  }
  .somos-eco p {
    font-size: 18px;
    padding: 2%;
  }
  /*--------------Pagina Nosotros Query-----------*/
  .titulos-principales .separador {
    margin-top: 5px;
    margin-bottom: 0px;
    border: 0;
    height: 10px;
    background-image: linear-gradient(to right, transparent, #3d3c3c, transparent);
  }
  .grid-nosotros-contenedor {
    display: block;
  }
  .grid-nosotros-contenedor img {
    width: 99%;
    height: 180px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    margin-top: 5px;
  }
  .grid-nosotros-contenedor p {
    font-size: 16px;
  }
  .grid-nosotros-contenedor .grid-imagen1 .imagen-desktop {
    display: none;
  }
  .grid-nosotros-contenedor .grid-imagen1 .imagen-queries {
    display: inline;
  }
  .grid-nosotros-contenedor .grid-texto1 {
    padding-top: 20px;
    padding-bottom: 2%;
  }
  .grid-nosotros-contenedor .grid-texto1 .titulo-quienes-somos {
    font-size: 20px;
  }
  .grid-nosotros-contenedor .grid-texto2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .grid-nosotros-contenedor .grid-texto2 .titulo-nuestra-mision {
    font-size: 20px;
  }
  .grid-nosotros-contenedor .grid-texto3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .grid-nosotros-contenedor .grid-texto3 .titulo-nuestra-vision {
    font-size: 20px;
  }
  /*-------------Pagina Servicios Query-----------*/
  .titulos-principales .separador {
    margin-top: 5px;
    margin-bottom: 0px;
    border: 0;
    height: 10px;
    background-image: linear-gradient(to right, transparent, #3d3c3c, transparent);
  }
  .grid-servicios-contenedor {
    display: block;
    padding-top: 0px;
  }
  .grid-servicios-contenedor img {
    width: 99%;
    height: 160px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    margin-top: 0px;
    margin-left: 0.5%;
  }
  .grid-servicios-contenedor .grid-servicios-img1 {
    padding-bottom: 3%;
  }
  .grid-servicios-contenedor .grid-servicios-img1 .img-perfo-desktop {
    display: none;
  }
  .grid-servicios-contenedor .grid-servicios-img1 .img-perfo-queries {
    display: block;
  }
  .grid-servicios-contenedor .grid-texto-perfo {
    padding: 2%;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .grid-servicios-contenedor .grid-texto-perfo .titulo-servicio-perforaciones {
    font-size: 21px;
  }
  .grid-servicios-contenedor .grid-texto-perfo .texto-servicio-perforaciones {
    font-size: 16px;
  }
  .grid-servicios-contenedor .grid-texto-movimiento {
    padding: 2%;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .grid-servicios-contenedor .grid-texto-movimiento .titulo-servicio-movimiento {
    font-size: 21px;
    margin: 0;
  }
  .grid-servicios-contenedor .grid-texto-movimiento .texto-servicio-movimiento {
    font-size: 16px;
    margin: 0;
  }
  .grid-servicios-contenedor .grid-texto-equipamiento {
    padding: 2%;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .grid-servicios-contenedor .grid-texto-equipamiento .titulo-servicio-equipamiento {
    font-size: 21px;
  }
  .grid-servicios-contenedor .grid-texto-equipamiento .texto-servicio-equipamiento {
    font-size: 16px;
  }
  /*-------------Pagina RSE Query----------*/
  .titulos-principales h1 {
    font-size: 22px;
  }
  .rse-contenedor {
    flex-direction: row;
    height: 1200px;
  }
  .rse-contenedor .imagen-rse img {
    position: relative;
    width: 100%;
    height: 230px;
    margin-top: 15px;
  }
  .rse-contenedor .rse-texto-contenedor {
    width: 95%;
    height: 900px;
    top: 50%;
  }
  .rse-contenedor .rse-texto-contenedor .texto-titulo-rse {
    font-size: 18px;
  }
  .rse-contenedor .rse-texto-contenedor .texto-rse {
    font-size: 14px;
  }
  /*----------Pagina Galeria Query---------*/
  .titulos-principales .texto-galeria {
    font-size: 16px;
  }
  .titulos-principales .separador {
    margin-top: 0;
  }
  .contenedor-carousel {
    padding: 10px;
  }
  .contenedor-carousel .carousel .carousel__slides .carousel__slide figcaption {
    align-self: flex-end;
    padding: 0;
    flex: 0 0 auto;
    width: 0%;
    min-width: 0;
  }
  /*-------------Pagina Trabaja Query------------*/
  .titulos-principales .texto-trabaja {
    font-size: 18px;
  }
  .titulos-principales .separador {
    margin-top: 5px;
    border: 0;
    height: 10px;
    background-image: linear-gradient(to right, transparent, #3d3c3c, transparent);
  }
  .trabaja-contenedor {
    flex-direction: column;
    margin: 0;
    margin-bottom: 20px;
  }
  .trabaja-contenedor .imagen-contenedor {
    display: block;
    width: 100%;
    object-fit: contain;
    margin-top: 10px;
  }
  .trabaja-contenedor .imagen-contenedor .imagen-trabaja {
    height: 250px;
    background-size: cover;
    background-position-y: top;
  }
  .trabaja-contenedor .separador {
    display: block;
    height: 15px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .trabaja-contenedor .form-contenedor {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }
  .trabaja-contenedor .form-contenedor .pregunta-formm .trabaja-form li {
    list-style-type: none;
  }
  .trabaja-contenedor .form-contenedor .pregunta-formm .trabaja-form li p {
    padding: 0;
    margin: 0;
  }
  .trabaja-contenedor .form-contenedor .pregunta-formm .trabaja-form li p input {
    width: 60%;
    height: 35px;
  }
  /*------------- Pagina Contactanos Query----------*/
  .donde-estamos-contenedor {
    flex-direction: column-reverse;
    margin-top: 60px;
  }
  .donde-estamos-contenedor .divisor {
    border-left: 0;
    border-bottom: #6c6d6e solid 3px;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 5%;
  }
  .donde-estamos-contenedor .donde-estamos {
    font-size: 95%;
  }
  .donde-estamos-contenedor .donde-estamos p {
    font-size: 17px;
    padding: 0;
    margin: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 978px) {
  /*--------header query--------*/
  header .menu-desktop {
    display: none;
  }
  header .navbar {
    background-image: linear-gradient(to bottom, rgb(219, 215, 215), rgb(248, 245, 245));
    display: block;
  }
  header .navbar .imagen-header {
    background-image: url(../img/HEADER.jpg);
    width: 250px;
    height: 55px;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  /*-------footer query-------*/
  footer .findus {
    flex-wrap: nowrap;
    height: 180px;
    padding: 0;
  }
  footer .findus .encuentranos {
    width: 470px;
    padding-left: 2%;
  }
  footer .findus .encuentranos .tituloFooter {
    display: none;
  }
  footer .findus .encuentranos .v-line {
    display: none;
  }
  footer .findus .encuentranos .contactos p {
    color: rgb(95, 92, 92);
    font-size: 13px;
    text-align: left;
  }
  footer .findus .encuentranos .contactos p img {
    width: 28px;
  }
  footer .findus .logoFooter {
    display: none;
  }
  footer .findus .siguenos {
    display: none;
  }
  footer .copyright p {
    font-size: 13px;
  }
  /*--------Pagina Index Query---------*/
  .grid-banner-contenedor {
    display: block;
  }
  .grid-texto {
    display: none;
  }
  .separador {
    height: 10px;
  }
  .quienes-somos .triangle {
    height: 45vh;
  }
  .quienes-somos .triangle::before {
    transform: translateX(-50%) translateY(70%);
  }
  .quienes-somos .triangle .titulo-quienes a {
    font-size: 30px;
  }
  .quienes-somos .triangle .texto-quienes {
    font-size: 17px;
    padding: 2%;
  }
  .servicios {
    margin: 1%;
    padding-top: 18%;
  }
  .servicios .blog-card {
    height: 180px;
  }
  .servicios .blog-card .description h2 {
    font-size: 2rem;
  }
  .servicios .blog-card .description .v-line {
    padding-top: 4%;
  }
  .servicios .blog-card .description .texto-perfo {
    display: none;
  }
  .servicios .blog-card.alt .description .v-line {
    width: 75px;
    padding-top: 4%;
  }
  .servicios .blog-card.alt .description .texto-ms {
    display: none;
  }
  /*-Sección Somos Eco-*/
  .somos-eco {
    padding-top: 20%;
  }
  .somos-eco img {
    width: 210px;
    height: 150px;
    margin-bottom: 0%;
  }
  .somos-eco p {
    font-size: 18px;
    padding: 2%;
  }
  /*------------Pagina Nosotros Query-----------*/
  .titulos-principales .separador {
    margin-top: 5px;
    margin-bottom: 0px;
    border: 0;
    height: 10px;
    background-image: linear-gradient(to right, transparent, #3d3c3c, transparent);
  }
  .grid-nosotros-contenedor {
    display: block;
  }
  .grid-nosotros-contenedor img {
    width: 99%;
    height: 200px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 2px;
  }
  .grid-nosotros-contenedor p {
    font-size: 16px;
  }
  .grid-nosotros-contenedor .grid-imagen1 .imagen-desktop {
    display: none;
  }
  .grid-nosotros-contenedor .grid-imagen1 .imagen-queries {
    display: inline;
  }
  .grid-nosotros-contenedor .grid-texto1 {
    padding-top: 20px;
    padding-bottom: 2%;
  }
  .grid-nosotros-contenedor .grid-texto1 .titulo-quienes-somos {
    font-size: 20px;
  }
  .grid-nosotros-contenedor .grid-texto2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .grid-nosotros-contenedor .grid-texto2 .titulo-nuestra-mision {
    font-size: 20px;
  }
  .grid-nosotros-contenedor .grid-texto3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .grid-nosotros-contenedor .grid-texto3 .titulo-nuestra-vision {
    font-size: 20px;
  }
  /*------------Pagina Servicios Query-----------*/
  .titulos-principales .separador {
    margin-top: 5px;
    margin-bottom: 0px;
    border: 0;
    height: 10px;
    background-image: linear-gradient(to right, transparent, #3d3c3c, transparent);
  }
  .grid-servicios-contenedor {
    display: block;
    padding-top: 0px;
  }
  .grid-servicios-contenedor img {
    width: 99%;
    height: 190px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .grid-servicios-contenedor .grid-servicios-img1 {
    padding-bottom: 3%;
  }
  .grid-servicios-contenedor .grid-servicios-img1 .img-perfo-desktop {
    display: none;
  }
  .grid-servicios-contenedor .grid-servicios-img1 .img-perfo-queries {
    display: block;
    margin-bottom: 0;
  }
  .grid-servicios-contenedor .grid-texto-perfo {
    padding: 2%;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .grid-servicios-contenedor .grid-texto-perfo .titulo-servicio-perforaciones {
    font-size: 21px;
  }
  .grid-servicios-contenedor .grid-texto-perfo .texto-servicio-perforaciones {
    font-size: 16px;
  }
  .grid-servicios-contenedor .grid-texto-movimiento {
    padding: 2%;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .grid-servicios-contenedor .grid-texto-movimiento .titulo-servicio-movimiento {
    font-size: 21px;
    margin: 0;
  }
  .grid-servicios-contenedor .grid-texto-movimiento .texto-servicio-movimiento {
    font-size: 16px;
    margin: 0;
  }
  .grid-servicios-contenedor .grid-texto-equipamiento {
    padding: 2%;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .grid-servicios-contenedor .grid-texto-equipamiento .titulo-servicio-equipamiento {
    font-size: 21px;
  }
  .grid-servicios-contenedor .grid-texto-equipamiento .texto-servicio-equipamiento {
    font-size: 16px;
  }
  /*-------------Pagina RSE Query----------*/
  .titulos-principales h1 {
    font-size: 22px;
  }
  .rse-contenedor {
    flex-direction: row;
    height: 1200px;
  }
  .rse-contenedor .imagen-rse img {
    position: relative;
    width: 100%;
    height: 230px;
    margin-top: 20px;
  }
  .rse-contenedor .rse-texto-contenedor {
    width: 95%;
    height: 900px;
    top: 65%;
  }
  .rse-contenedor .rse-texto-contenedor .texto-titulo-rse {
    font-size: 18px;
  }
  .rse-contenedor .rse-texto-contenedor .texto-rse {
    font-size: 14px;
  }
  /*----------Pagina Galeria Query ---------*/
  .titulos-principales .texto-galeria {
    font-size: 16px;
  }
  .titulos-principales .separador {
    margin-top: 0;
  }
  .contenedor-carousel {
    padding: 10px;
  }
  .contenedor-carousel .carousel .carousel__slides .carousel__slide figcaption {
    align-self: flex-end;
    padding: 0;
    flex: 0 0 auto;
    width: 0%;
    min-width: 0;
  }
  /*----------Pagina Trabaja Query ----------*/
  .titulos-principales .texto-trabaja {
    font-size: 18px;
  }
  .titulos-principales .separador {
    margin-top: 5px;
    border: 0;
    height: 10px;
    background-image: linear-gradient(to right, transparent, #3d3c3c, transparent);
  }
  .trabaja-contenedor {
    flex-direction: column;
    margin: 0;
    margin-bottom: 20px;
  }
  .trabaja-contenedor .imagen-contenedor {
    display: block;
    width: 100%;
    object-fit: contain;
    margin-top: 10px;
  }
  .trabaja-contenedor .imagen-contenedor .imagen-trabaja {
    height: 250px;
    background-size: cover;
    background-position-y: top;
  }
  .trabaja-contenedor .separador {
    display: block;
    height: 15px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .trabaja-contenedor .form-contenedor {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }
  .trabaja-contenedor .form-contenedor .pregunta-formm .trabaja-form li {
    list-style-type: none;
  }
  .trabaja-contenedor .form-contenedor .pregunta-formm .trabaja-form li p {
    padding: 0;
    margin: 0;
  }
  .trabaja-contenedor .form-contenedor .pregunta-formm .trabaja-form li p input {
    width: 60%;
    height: 35px;
  }
  /*------------Pagina Contactanos Query----------*/
  .donde-estamos-contenedor {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 60px;
  }
  .donde-estamos-contenedor .divisor {
    border-left: 0;
    border-bottom: #6c6d6e solid 3px;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 5%;
  }
  .donde-estamos-contenedor .donde-estamos {
    font-size: 95%;
  }
  .donde-estamos-contenedor .donde-estamos p {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
