.titulos-principales{
    text-align: center;
    h1{ 
        display: flex;
        justify-content: center;
        //padding-top: 90px;
        color: rgb(30, 107, 30);
    }
    .texto-galeria{
        font-size: 20px;
    }
    .separador {
        margin-top: 5px;
        margin-bottom: 15px;
        border: 0;
        height: 10px;
        background-image: linear-gradient(to right, transparent, #3d3c3c, transparent);  
     }
}

.galeria-eco{
    display: flex;
    justify-content: center;
    .carousel{
        margin: 8px;
        padding: 50px;
        width: 1000px;
        background:rgba(220, 220, 226, 0.801);
        border-radius: 5px;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.55);
        .carousel-inner > .carousel-item > img {
            object-fit:cover;
            height: 60vh;
            width: 100%;
            align-content: center;    
        }
    }
}