.titulos-principales{
    h1{ 
        display: flex;
        justify-content: center;
        padding-top: 90px;
        color: rgb(30, 107, 30);
    }
    .separador {
        margin-top: 5px;
        margin-bottom: 5px;
        border: 0;
        height: 10px;
        background-image: linear-gradient(to right, transparent, #3d3c3c, transparent);  
     }
}

.grid-nosotros-contenedor{
    display:grid;
    align-content: space-evenly;
     /* definir áreas */
    grid-template-areas: 
    "foto1 texto1 texto1"
    "foto1 foto2 foto2"
    "texto2 foto3 texto3";

    /* ancho de cada columna */
    grid-template-columns: 30% 33% 30%;
    /* alto de cada fila */
    grid-template-rows: 300px 250px 320px ;

    /* acomodar grilla */
    justify-content: center ;

    /* espacios entre filas y columnas */
    row-gap: 4%;
    column-gap: 2%;
    padding-top:4%;
    padding-bottom: 5%;
    
    img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    
    }
    p{
        text-align: justify;
        margin: 0 25px;
        color: #6c6d6e;
        font-size: 20px;
    }
    .grid-imagen1{   
        grid-area: foto1;  
        .imagen-desktop{
            display:contents;   
            
        }    
        /*Anulo imagen que visualiza en el query*/
        .imagen-queries{
            display: none;
        }
    }
    
    .grid-texto1{
        grid-area: texto1;
        .titulo-quienes-somos{
            color: green; 
            font-weight: bolder; 
            font-size: 25px;
            padding-bottom: 1%;
        }
        
    }
    .grid-imagen2{
        grid-area: foto2;
    
    }
    .grid-texto2{
        grid-area: texto2;
        padding-top: 10%;
        .titulo-nuestra-mision{
            color: green; 
            font-weight: bolder;    
            font-size: 25px;
            padding-bottom: 1%;
        }
    }
    .grid-imagen3{
        grid-area: foto3;
        
    }
    .grid-texto3{
        grid-area: texto3;
        padding-top: 10%;
        .titulo-nuestra-vision{
            color: green; 
            font-weight: bolder;    
            font-size: 25px;
            padding-bottom: 1%;
        }
    }
}