/* Celulares menos de 500px */
$texto-servicios:16px;

@media only screen and (max-width:480px){
    /*--------header Query--------*/
    header{
        .menu-desktop{
            display: none;    
        }   
        .navbar{
            display: block; 
            background-color: #a2a2a2;
           // background-image: linear-gradient(to bottom, rgb(219, 215, 215), rgb(248, 245, 245));  
            .imagen-header{
                background-image: url(../img/HEADER.jpg); 
                width: 250px;
                height: 55px;
                background-repeat: no-repeat;
                object-fit: cover;
            }                 
        }
    } 
    /*-------footer Query-------*/
    footer{ 
        
        .findus{         
            flex-wrap: nowrap;
            height: 180px;
            padding: 0;
            .encuentranos{
               padding-left: 2%;
               .tituloFooter{
                    display: none;
               }
                .v-line {
                    display: none;        
                }
                .contactos{
                    p{
                        color: rgb(95, 92, 92);
                        font-size: 13px;
                        text-align: left;
                        img{
                            width: 28px;
                        }
                    } 
                }  
         
            }
            .logoFooter{
               // padding-left: 8%;
                img{
                    display: none;
                }    
            }
            .siguenos{
               padding-left: 1%;
               .tituloFooter{
                    display: none;
                }
               .socialmedia{
                display: none;
                padding-top: 0%;
                }    
            }
        }       
        .copyright{
            p{ 
                font-size: 13px;
            } 
        }
    }
    /*--------Pagina Index Query---------*/
    .grid-banner-contenedor{
        display: block;
    }
    .grid-texto{
        display: none;
    } 
    /*-Seccion Servicios Index-*/  
    .separador{
        height: 20px;
    }
    .quienes-somos{
        .triangle{
            height: 45vh;
            &::before {
                transform: translateX(-50%) translateY(70%);
            }
            .titulo-quienes{
                a{
                   font-size:30px; 
                }
            }
            .texto-quienes{
               font-size:17px; 
               padding: 2%; 
            } 
        }       
    }
    .servicios{
        $color_white: #fff;
        $color_prime: green;
        $color_grey: #e2e2e2;
        $color_grey_dark: #a2a2a2;
        margin: 1%;
  
        padding-top: 18%;
        .blog-card {
           height: 180px;
           .description {
                h2{
                    font-size: 2rem;
                }
                .v-line { 
                    padding-top: 4%;         
                }
                .texto-perfo{
                    display: none;
                }
           }
           &.alt {
                .description {
                    .v-line {
                        width: 75px; 
                        padding-top: 4%;         
                    }
                    .texto-ms{
                        display: none;
                    }
                }
            }
        }
       
         }   
        
    /*-Sección Somos Eco-*/    
    .somos-eco{ 
        img{
            width: 230px;
            height: 120px;
            margin-bottom: 2%;
        }
        p{
            font-size:18px;
            padding: 2%; 
        }    
    }   
    /*--------------Pagina Nosotros Query-----------*/
     
    .titulos-principales{
        .separador {
            margin-top: 5px;
            margin-bottom: 0px;
            border: 0;
            height: 10px;
            background-image: linear-gradient(to right, transparent, #3d3c3c, transparent);  
         }
    }
    
    .grid-nosotros-contenedor{
        display: block;          
        img{
            width: 99%;
            height: 180px;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            margin-top:5px;
        }
        p{
            font-size: 16px;
            
        }
        .grid-imagen1{
            .imagen-desktop{
                display:none;        
        
            }
            .imagen-queries{
                display: inline;   
            }
        }
        .grid-texto1{
            padding-top: 20px;
            padding-bottom: 2%;
            .titulo-quienes-somos{
                font-size: 20px;
            }
            
        }    

        .grid-texto2{
            padding-top: 20px;
            padding-bottom: 20px;
            .titulo-nuestra-mision{
                font-size: 20px;
            }
        }
        .grid-texto3{
            padding-top: 20px;
            padding-bottom: 20px;
            .titulo-nuestra-vision{
                font-size: 20px;
            }
        }

    } 
    /*-------------Pagina Servicios Query-----------*/
    .titulos-principales{
        .separador {
            margin-top: 5px;
            margin-bottom: 0px;
            border: 0;
            height: 10px;
            background-image: linear-gradient(to right, transparent, #3d3c3c, transparent);  
         }
    }
    .grid-servicios-contenedor{
        display: block;
        padding-top: 0px;
        img{
            width: 99%;
            height: 160px;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            margin-top: 0px;
            margin-left: 0.5%;
        }
        .grid-servicios-img1{
            padding-bottom: 3%; 
            .img-perfo-desktop{
                display: none;
            }
            .img-perfo-queries{
                display: block;
            }
        }
        .grid-texto-perfo{
            padding: 2%;
            margin-top: 0;
            margin-bottom: 15px;
            .titulo-servicio-perforaciones{
                font-size: 21px;
            }
            .texto-servicio-perforaciones{
                font-size: $texto-servicios;
            }
        } 
        .grid-texto-movimiento{
            padding: 2%;
            margin-top: 0;
            margin-bottom: 15px;
            .titulo-servicio-movimiento{
                font-size: 21px;
                margin: 0;
            }
            .texto-servicio-movimiento{
                font-size: $texto-servicios;
                margin: 0;
            }
        }
        .grid-texto-equipamiento{
            padding: 2%;
            margin-top: 0;
            margin-bottom: 15px;
            .titulo-servicio-equipamiento{
                font-size: 21px;
            }
            .texto-servicio-equipamiento{
                font-size: $texto-servicios;
            }
        }   
    } 
    /*-------------Pagina RSE Query----------*/
    .titulos-principales{
        h1{ 
            font-size: 22px;
        }
    }
    .rse-contenedor{
        flex-direction: row;
        height: 1200px;
        .imagen-rse{ 
            img{
                position: relative;
                width: 100%;
                height: 230px;
                margin-top: 15px;
            }       
        }
        .rse-texto-contenedor{
            width: 95%;
            height: 900px;
            top: 65%; 
            .texto-titulo-rse{
                font-size: 18px;
            }
            .texto-rse{
                font-size: 14px;
            }
        }
    }
   
    
    /*----------Pagina Galeria Query---------*/
    .titulos-principales{
        .texto-galeria{
            font-size: 16px;
        }  
        .separador{
            margin-top: 0;
        }
    }
    .contenedor-carousel {
        padding: 10px;
        .carousel {
          .carousel__slides {             
              .carousel__slide {         
                  figcaption {
                      align-self: flex-end;
                      padding: 0;
                      flex: 0 0 auto;
                      width: 0%;
                      min-width: 0;     
                    }
                  }                
              }             
          }             
      }
      /*-------------Pagina Trabaja Query------------*/
      .titulos-principales{
        .texto-trabaja{
            font-size: 18px;
        }
        .separador {
            margin-top: 5px;
            border: 0;
            height: 10px;
            background-image: linear-gradient(to right, transparent, #3d3c3c, transparent);  
         }
      }
      .trabaja-contenedor{
        flex-direction: column;
        margin: 0;
        margin-bottom: 20px;
        .imagen-contenedor{
            display: block;
            width: 100%;
            object-fit:contain;
            margin-top: 10px;
            .imagen-trabaja{
                height: 250px;
                background-size:cover;
                background-position-y: top;
        
            }
        }
        .separador{
            display: block;
            height: 15px;
            margin-top: 10px;
            margin-bottom: 0;
        }
        .form-contenedor{
            position: relative;
            width: 100%;
            top: 0;
            left: 0;
            height: 100%;
            .pregunta-formm{
                .trabaja-form{
                    li{
                        list-style-type: none;
                        p{
                            padding: 0;
                            margin: 0; 
                            input{
                                width: 60%;
                                height: 35px;
                            }       
                        }
        
                        
                    }   
                }
            }    
        }
        
    } 
    /*------------- Pagina Contactanos Query----------*/
    .donde-estamos-contenedor{
        flex-direction: column-reverse;
        margin-top: 60px;
        .divisor{
            border-left: 0;
            border-bottom: #6c6d6e solid 3px;
            padding-left: 0;
            margin-left: 0;
            margin-bottom: 5%;
        }
        .donde-estamos{
            font-size: 95%;
            p{
                font-size: 17px;
                padding: 0;
                margin: 0;
            }
        } 
    }
}