*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
Colores verdes 
#618264
#79AC78
#B0D9B1
#D0E7D2

*/
/* importo tipografia de google font ej: Inter Tight */
/* font-family: 'Inter Tight', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');


/* importo tipografia de google font ej: Rubik */
/* font-family: 'Rubik', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&family=Rubik&display=swap');

/* importo tipografia de google font ej: Noto Serif */
/* font-family: 'Noto Serif', serif; */

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&family=Noto+Serif:wght@500&family=Rubik&display=swap');


/* 1 rem = 16px */

html{
    font-family: 'Noto Serif', serif;
}
/*------------- Header ---------------*/
header{
    .menu-desktop{
        padding: 0.6rem;
        background-image: linear-gradient(to bottom, rgb(219, 215, 215), rgb(248, 245, 245));  
       /* visualización horizontalmente los items */
        display: flex;
        /* alinea horizontalmente los items */
        justify-content: space-around;
        /*alinea vertical los items */
        align-items: center;

        a{
            color: green;
            font-weight: bold;
            text-decoration: none; 
            font-size: 0.9rem;
            .imagen-header{
                background-image: url(../img/HEADER.jpg);
                width: 250px;
                height: 55px;
                
                &:hover{
                    -webkit-transform: scale(0.9);
                    -moz-transform: scale(0.9);
                    -o-transform: scale(0.9);
                    -ms-transform: scale(0.9);
                    transform: scale(0.9)
                }
            }
        }
    }
    .navbar{

        display: none;
      //  background-color: #cec8c8; 
      //  border: #79AC78 solid 2px;
    }

}
/* -------------- Footer --------------*/
footer{
    background-image: linear-gradient(to bottom, rgb(219, 215, 215), rgb(248, 245, 245));  
    .findus{
       display:flex;
       flex-direction: column;
       flex-wrap: wrap;
       align-content: normal;
       padding: 1rem;
       height: 300px;

        .encuentranos{
           padding-left: 5%;
           width: 450px;
           .tituloFooter{
              font-size: 25px;
              color: rgb(95, 92, 92);
           }
           .v-line {
                border-bottom: thick solid green;
                width: 100px;
                padding-left: 3%;          
            }
            .contactos{
                padding-top: 5%;
                p{
                    color: rgb(95, 92, 92);
                    font-size: 18px;
                    text-align: left;
                    img{
                        width: 35px;
                    }
                } 
            }            
        }
        .logoFooter{
            padding-left: 8%;
            img{
                width: 300px;
                padding-top: 80px;
            }    
        }
        .siguenos{
            padding-left: 13%;
           .tituloFooter{
              font-size: 25px;
              color: rgb(95, 92, 92);
            }
           .v-line {
               border-bottom: thick solid green;
               width: 100px;
               padding-left: 3%; 
            }
           .socialmedia{
                padding-top: 5%;
                a{      
                  color: rgb(95, 92, 92);
                  text-decoration: none; 
                  p{
                    color: rgb(95, 92, 92);
                    font-size: 20px;
                    text-align: left;
                    img{
                       padding-right: 5%;
                       width: 50px;   
                    }
                    } 
                }
            }    
        }
    }       
    .copyright{
        text-align: center;
        .separador-footer{
            margin-top: 10px;
            margin-bottom: 15px;
            border: 0;
            height: 2px;
            background-image: linear-gradient(to right, transparent, #3b3b3b, transparent);  
        }
        p{ 
            color: rgb(95, 92, 92);
            font-size: 20px;
        } 
    }
}

@import "index.scss";
@import "contacto.scss";
@import "nosotros.scss";
@import "servicios.scss";
@import "rse.scss";
@import "galeria.scss";
@import "trabaja.scss";
@import "query480.scss";
@import "query481_978.scss";
